*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    min-height: 100px;
    min-height: 100px;
    padding: 5rem;
    color: aquamarine;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}
.grandparent{
  background: rgb(76, 101, 152);
  color: rgb(6, 15, 18);
}
.parent{
    background: rgb(58, 69, 135);
    color: rgb(192, 196, 200);
}
.child{
   background: rgb(98, 99, 156); 
   color: blanchedalmond;
}